<div id="contact" class="contact-form">

    <div class="contact-title">Contact Us</div>

    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
        <div class="form-item">
            <label for="email">Email*</label>
            <input formControlName="email" class="form-control" type="email" name="email" />
            <div class="error-message" *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].hasError('required')">
                Email is required.
            </div>
            <div class="error-message" *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].hasError('email')">
                Email is not valid.
            </div>
        </div>

        <div class="form-item">
            <label for="message">Message*</label>
            <input formControlName="message" class="form-control" type="text" name="message" />
            <div class="error-message" *ngIf="contactForm.controls['message'].touched && contactForm.controls['message'].hasError('minlength')">
                Message have to contain at least 30 characters.
            </div>
            <div class="error-message" *ngIf="contactForm.controls['message'].touched && contactForm.controls['message'].hasError('required')">
                Message is required.
            </div>
        </div>

        <button class="submit-button" type="submit" [disabled]="!contactForm.valid">
            Submit
        </button>

        <div class="success-message">{{successMessage}}</div>

    </form>
</div>